<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsam maiores eveniet commodi quos
            explicabo minus veniam beatae suscipit, debitis voluptate rerum doloribus est autem molestiae tempora quis
            voluptatum deserunt.20
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsam maiores eveniet commodi quos
            explicabo minus veniam beatae suscipit, debitis voluptate rerum doloribus est autem molestiae tempora quis
            voluptatum deserunt.20
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsam maiores eveniet commodi quos
            explicabo minus veniam beatae suscipit, debitis voluptate rerum doloribus est autem molestiae tempora quis
            voluptatum deserunt.20
        </p>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>